::-webkit-scrollbar {
    width: 10px;
    height: 10px;
   }
   ::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 8px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #ffffffa2 36%,#ffffff 100%);
}
    
   ::-webkit-scrollbar-track{
    background: #ffffff2a;
    border-radius: 8px;
   }