
.slider_container {
    width: 100%;
    max-height: 350px;
    background-color: rgb(0, 0, 0);
}
.slider_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  height: inherit;
}
.center_box{
  flex:1;
  display: flex;
}
.box-img{
  flex: 80%;
}
.sliderfeaturedbox{
  flex: 20%;
}
.sliderfeatured{
  position: absolute;
  font-size: 28px;
  font-weight: 600;
  padding: 40px;
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 54%, rgba(0,0,0,0) 100%);
}
.box-arrow{
  height: 350px;
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.slider-image {
    width: 100%;
    object-fit: cover;
    height: 350px;
  }
.box-arrow > i{
    height: 30px;
    width: 30px;
    font-size: 30;
}
.box-arrow:hover{
    cursor: pointer;
    filter: brightness(50%);
}

.slider-container:focus,
.slider-container:active {
    outline: none;
}

.slider-dots-container {
    position: absolute;
    padding: 14px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slider-dots-container .dot {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 5px;
  }
  
  .dot.currentImg {
    background-color: rgb(255, 255, 255);
  }
