*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    line-height: 16px;
}
#app {
    position: absolute;
    top: 0;
    left: 0;
}
#app, body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #0f171e;
    color: white;
}

.all {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.container_flex{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    max-height: 72px;
    display: flex;
    align-items: center;
    position: relative;
}
main{
    overflow: auto;
}
.header_box{
    display: flex;
    flex-direction: row;
    background-color: #0f171e;
    padding: 10px 40px;
    width: 100%;
    height: 100%;
}
.header_left{
    font-size: inherit;
    flex-grow: 1;
}
.header_right{
    width: 200px;
}
.logo_box img{
    height: 52px;
    object-fit: contain;
}

.main_container{
    background-color: #0f171e;
    display: flex;
    flex-direction: column;
}
.show_container{
    display: flex;
}
.show_template_box{
    padding: 10px;
    border: solid 1px white;
}